{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">Django CRUD App</h1>
        <p class="text-center">App creada en Django para control y visualización de tareas con función de autenticación y base de datos</p>
        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">
                Sign in
            </a>
            <a class="btn btn-dark" href="/signup/">
                Sign up
            </a>
        </div>
    </section>
</main>
{% endblock %}